{% extends 'layouts/_layout' %}

{% set template = 'white' %}

{% block content %}

    <section class="flex w-full p-4 pb-12 pt-32 lg:pb-32">

        <div class="hidden lg:block lg:w-1/5">
        </div>

        <div class="w-full lg:w-3/5 lg:pl-6">

            <h2 class="text-4xl font-medium text-black tracking-wide pb-4">{{ entry.title }}</h2>

            <p class="font-light text-black tracking-wide pb-20">{{ entry.postDate|date("M d, Y") }} &nbsp;&mdash;&nbsp; Invoice # {{ entry.invoiceNumber }}</p>

            {% for items in entry.invoiceItems.all() %}

                <h3 class="text-2xl text-black font-normal pb-2">{{ items.serviceDescription }}</h3>

                <div class="flex flex-wrap w-full pt-1 pb-8 my-2">
                    <div class="flex w-full border-b border-grey-light pt-2 pb-3">
                        <div class="w-3/5">
                            <p class="text-xl font-medium text-black tracking-wide">Description</p>
                        </div>
                        <div class="w-1/5 px-4">
                            <p class="text-xl font-medium text-black tracking-wide">Time</p>
                        </div>
                        <div class="w-1/5 text-right">
                            <p class="text-xl font-medium text-black tracking-wide">Subtotal</p>
                        </div>
                    </div>
                    {% for item in items.invoiceItem.all() %}

                        <div class="flex w-full border-t border-grey-light py-3">
                            <div class="w-3/5">
                                <p class="font-light text-black tracking-wide">{{ item.description }}</p>
                            </div>
                            <div class="w-1/5 px-4">
                                <p class="font-light text-black tracking-wide">{{ item.time }}</p>
                            </div>
                            <div class="w-1/5 text-right">
                                <p class="font-light text-black tracking-wide">NZ${{ item.subtotal }}</p>
                            </div>
                        </div>

                    {% endfor %}

                </div>

            {% endfor %}

            <div class="flex w-full border-t-2 border-grey-light pt-3">
                <div class="w-1/2 lg:w-4/5">
                    <p class="text-xl font-medium text-black tracking-wide">Total</p>
                </div>
                <div class="w-1/2 lg:w-1/5 text-right">
                    <p class="text-xl font-medium text-black tracking-wide">NZ${{ entry.total }}</p>
                </div>
            </div>

            <div class="flex flex-wrap w-full">
                <div class="w-full pt-12 pb-4">
                    <p class="text-black tracking-wide">Please make payements to:</p>
                </div>

                <div class="flex w-full border-b border-grey-light pt-2 pb-3">
                    <div class="w-1/2">
                        <p class="text-xl font-medium text-black tracking-wide">Account Name</p>
                    </div>
                    <div class="w-1/2">
                        <p class="text-xl font-medium text-black tracking-wide">Account Number</p>
                    </div>
                </div>

                <div class="flex w-full border-t border-grey-light pt-2 pb-16">
                    <div class="w-1/2">
                        <p class="text-xl font-light text-black tracking-wide">{{ generalInformation.accountName }}</p>
                    </div>
                    <div class="w-1/2">
                        <p class="text-xl font-light text-black tracking-wide">{{ generalInformation.accountNumber }}</p>
                    </div>
                </div>

                {% if entry.showGst %}
                    {#<div class="w-full pb-4">
                        <p class="font-medium text-black tracking-wide">GST Number</p>
                        <br>
                        <p class="text-black">{{ generalInformation.gstNumber }}</p>
                    </div>#}
                {% else %}
                {% endif %}

                <div class="w-full py-4">
                    <p class="font-medium text-black tracking-wide">Address</p>
                    <br>
                    <p class="text-black">{{ generalInformation.address|nl2br }}</p>
                </div>

                <div class="w-full mt-6">
                    <a href="javascript:window.print()">
                        <button class="shadow border border-black bg-black text-white hover:bg-white hover:text-black px-6 py-3">Save &nbsp;&mdash;&nbsp; Print</button>
                    </a>
                </div>

            </div>

        </div>

        <div class="hidden lg:block lg:w-1/5">
        </div>

    </section>

{% endblock %}
