{% extends 'layouts/_layout' %}
{% requireLogin %}

{% set template = 'black' %}

{% block content %}

    {# This dashboard serves as an overview for all digital services, their cost and our maintenance cycles #}
    <section class="flex w-full pt-6 pb-32 px-12">

        <div class="w-full text-white pt-20">

            <h2 class="text-5xl pb-12">Total servers &mdash; <span class="">{{ entry.servers|length }}</span></h2>

            <h3 class="text-3xl pb-4">Development</h3>

            <div class="flex flex-wrap">

                {% for server in entry.servers.all() %}
                    {% if server.environment %}
                    {% else %}
                    <div class="w-auto self-start bg-white-o border-grey-dark hover:border-white border rounded-sm pl-8 pr-10 pt-6 pb-16 mr-6 mb-8">

                        <h3 class="text-2xl font-medium text-white pt-2 pb-2">{{ server.serverName }}</h3>

                        <p class="text-base font-light text-white pb-5"><a href="http://{{ server.domain }}" target="_blank" rel="noreferrer noopener" class="text-white underline">{{ server.domain }}</a>{% if server.stage|length %} &mdash; <a href="http://{{ server.stage }}" target="_blank" rel="noreferrer noopener" class="text-white underline">{{ server.stage }}</a>{% endif %}</p>

                    </div>
                    {% endif %}
                {% endfor %}

            </div>

            <h3 class="text-3xl pb-4">Production</h3>
            <div class="flex flex-wrap pb-16">

                {% for server in entry.servers.orderBy('RAND()').all() %}
                    {% if server.environment %}
                        <div class="w-auto self-start border-grey-darkest hover:border-grey border rounded-sm pl-8 pr-10 pt-6 pb-16 mr-6 mb-8">

                            <h3 class="text-2xl font-medium pt-2 pb-2">{{ server.serverName }}</h3>

                            <p class="text-base font-light pb-5"><a href="http://{{ server.domain }}" target="_blank" rel="noreferrer noopener" class="text-white underline">{{ server.domain }}</a>{% if server.stage|length %} &mdash; <a href="http://{{ server.stage }}" target="_blank" rel="noreferrer noopener" class="text-white underline">{{ server.stage }}</a>{% endif %}</p>

                        </div>
                    {% else %}
                    {% endif %}
                {% endfor %}

            </div>

        </div>

    </section>

{% endblock %}
