{% extends 'layouts/_layout' %}

{% set template = 'white' %}

{% block content %}

    <section class="flex w-full px-4 pb-12 pt-32 lg:pb-32">

        <div class="hidden lg:block lg:w-1/5">
        </div>

        <div class="w-full lg:w-3/5 lg:pl-6">
            <h1 class="text-lg md:text-4xl font-medium tracking-wide pb-4"
                data-aos="fade-in"
                data-aos-duration="2000">{{ entry.title }}</h1>

            <div data-aos="fade-in"
                data-aos-duration="2000"
                data-aos-delay="300">
                {{ entry.description|nl2br|retconAttr('p', { 'class' : 'text-2xl antialiased tracking-tight max-w-md leading-normal pt-6 pb-12' }) }}
            </div>

            <div data-aos="fade-in"
                data-aos-duration="2000"
                data-aos-delay="600">
                {{ entry.paragraph|nl2br|retconAttr('p', { 'class' : 'text-base md:text-lg antialiased leading-loose' })|retconAttr('a', { 'class' : 'font-medium text-black underline' }) }}
            </div>

            {% if entry.image|length %}
                {% set image = entry.image.one() %}
                <img src="{{ image.url('general') }}"
                    alt="{{ image.title }}"
                    title="{{ image.title }}"
                    class="shadow-md my-12 p-4 md:p-8 lg:p-12"
                    data-aos="fade-in"
                    data-aos-duration="2000"
                    data-aos-delay="1000"
                />
            {% endif %}
        </div>
        <div class="hidden lg:block lg:w-1/5">
        </div>
    </section>

{% endblock %}
