{% extends 'layouts/_layout' %}

{% set template = 'black' %}

{% block content %}

    <section class="flex flex-wrap w-full p-4 pt-32">
        <div class="hidden lg:block lg:w-1/5">
        </div>
        <div class="w-full lg:w-3/5 text-left leading-normal mb-32 lg:pl-6">

            <div data-aos="fade-in"
                data-aos-duration="2000">
                {% include 'includes/description' %}
            </div>

            {% if entry.textBlock|length %}
                <div class="w-full pt-6 md:pt-12">
                    {% for block in entry.textBlock.all() %}
                        {% if loop.index == '1' %}
                            <h3 class="text-md md:text-2xl text-white font-light tracking-wide pb-4"
                                data-aos="fade-in"
                                data-aos-duration="2000"
                                data-aos-delay="200">{{ block.blockTitle }}</h3>

                            <p class="max-w-sm text-sm sm:text-base text-grey font-light tracking-extra-wide pb-8"
                                data-aos="fade-in"
                                data-aos-duration="2000"
                                data-aos-delay="500">{{ block.blockParagraph }}</p>
                        {% elseif loop.index == '2' %}
                            <h3 class="text-md md:text-2xl text-white font-light tracking-wide pb-4"
                                data-aos="fade-in"
                                data-aos-duration="2000"
                                data-aos-delay="700">{{ block.blockTitle }}</h3>

                            <p class="max-w-sm text-sm sm:text-base text-grey font-light tracking-extra-wide pb-8"
                                data-aos="fade-in"
                                data-aos-duration="2000"
                                data-aos-delay="1000">{{ block.blockParagraph }}</p>
                        {% else %}
                            <h3 class="text-md md:text-2xl text-white font-light tracking-wide pb-4"
                                data-aos="fade-in"
                                data-aos-duration="2000"
                                data-aos-delay="1200">{{ block.blockTitle }}</h3>

                            <p class="max-w-sm text-sm sm:text-base text-grey font-light tracking-extra-wide pb-8"
                                data-aos="fade-in"
                                data-aos-duration="2000"
                                data-aos-delay="1500">{{ block.blockParagraph }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}

        </div>
        <div class="hidden lg:block lg:w-1/5">
        </div>
    </section>

{% endblock %}
