{% extends 'layouts/_layout' %}

{% set template = 'black' %}

{% block content %}

    <section class="flex flex-wrap w-full p-4 pt-32">
        <div class="hidden lg:block lg:w-1/5">
        </div>
        <div class="w-full lg:w-3/5 text-left leading-normal mb-32 lg:pl-6">

            <div class="max-w-md pb-10">
                <h3 class="text-xl md:text-2xl text-white font-light tracking-wide pb-4">Thanks {{ craft.app.request.getQueryParam('from') }}</h3>
                <h2 class="text-2xl md:text-4xl text-white font-light tracking-wide">Acknowledgement confirmed.</h2>
            </div>

            <div class="w-full">
                <a href="javascript:window.print()">
                    <button class="text-sm rounded-sm uppercase text-white font-medium tracking-extra-wide border border-grey-darker bg-black hover:bg-grey-darkest cursor-pointer mb-12 py-3 px-6">Save &#126; Print</button>
                </a>
            </div>

            {% set entry = craft.entries.section('contractAgreement').one() %}

            {#<div class="max-w-md pb-12"
                data-aos="fade-in"
                data-aos-duration="2000"
                data-aos-delay="200">
                {{ entry.paragraph|nl2br|retconAttr('p', { 'class' : 'text-lg sm:text-xl text-grey font-light tracking-extra-wide' })|retconAttr('strong', { 'class' : 'font-medium text-white' }) }}
            </div>#}

            {% if entry.textBlock|length %}
                <div class="w-full pt-6">
                    {% for block in entry.textBlock.all() %}
                        <h3 class="max-w-md text-md md:text-2xl text-white font-light tracking-wide pb-4">{{ block.blockTitle }}</h3>

                        <p class="max-w-md text-sm sm:text-base text-grey font-light tracking-extra-wide pb-8">{{ block.blockParagraph|nl2br }}</p>
                    {% endfor %}
                </div>
            {% endif %}

        </div>
        <div class="hidden lg:block lg:w-1/5">
        </div>
    </section>

{% endblock %}
