{% extends 'layouts/_layout' %}

{% set template = 'black' %}

{% block content %}

    <section class="flex flex-wrap w-full p-4 pt-32">
        <div class="hidden lg:block lg:w-1/5">
        </div>
        <div class="w-full lg:w-3/5 text-left leading-normal mb-32 lg:pl-6">

            <div class="max-w-md"
                data-aos="fade-in"
                data-aos-duration="2000">
                {{ entry.description|nl2br|retconChange('p', 'h1')|retconAttr('h1', { 'class' : 'text-xl md:text-5xl text-white font-light tracking-wide pb-10' }) }}
            </div>

            <div class="max-w-md pb-12"
                data-aos="fade-in"
                data-aos-duration="2000"
                data-aos-delay="200">
                {{ entry.paragraph|nl2br|retconAttr('p', { 'class' : 'text-lg sm:text-xl text-grey font-light tracking-extra-wide' })|retconAttr('strong', { 'class' : 'font-medium text-white' }) }}
            </div>

            {% if entry.textBlock|length %}
                <div class="w-full pt-6">
                    {% for block in entry.textBlock.all() %}
                        <h3 class="max-w-md text-md md:text-2xl text-white font-light tracking-wide pb-4"
                            data-aos="fade-in"
                            data-aos-duration="1000"
                            data-aos-offset="-300"
                            data-aos-delay="600"
                            data-aos-once="true">{{ block.blockTitle }}</h3>

                        <p class="max-w-md text-sm sm:text-base text-grey font-light tracking-extra-wide pb-8"
                            data-aos="fade-in"
                            data-aos-duration="1000"
                            data-aos-offset="-400"
                            data-aos-delay="600"
                            data-aos-once="true">{{ block.blockParagraph|nl2br }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            <p data-aos="fade-in"
                data-aos-duration="2000"
                data-aos-delay="200"
                data-aos-once="true"
                class="max-w-md text-sm sm:text-base text-grey font-light tracking-extra-wide pb-8">Please enter your parties information below to commence your project with Thist.</p>

            {% macro errorList(errors) %}
                {% if errors %}
                    <ul class="errors">
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endmacro %}

            {% from _self import errorList %}

            <form method="post"
                action=""
                accept-charset="UTF-8"
                class="max-w-md pb-32"
                data-aos="fade-in"
                data-aos-duration="2000"
                data-aos-delay="200"
                data-aos-once="true">

                {{ csrfInput() }}
                <input type="hidden" name="action" value="contact-form/send">
                <input type="text" id="phone" class="hidden" name="phone">
                {#<input type="hidden" name="toEmail" value="">#}

                <input id="subject" class="hidden" type="text" name="subject" value="{{ entry.description|striptags }}">
                {#{{ message is defined and message ? errorList(message.getErrors('subject')) }}#}

                {{ redirectInput('agreement-confirmed?from={fromName}') }}

                <h3><label class="text-white text-sm font-light tracking-extra-wide" for="from-name">Party name*</label></h3>
                <input id="from-name" class="w-full rounded-sm text-grey-darkerst border border-grey-darker hover:border-grey-darkest bg-grey-lightest my-2 p-3" type="text" name="fromName" value="{{ message.fromName ?? '' }}" placeholder="Name" required>
                {{ message is defined and message ? errorList(message.getErrors('fromName')) }}

                <h3><label class="text-white text-sm font-light tracking-extra-wide" for="from-email">Party email*</label></h3>
                <input id="from-email" class="w-full rounded-sm text-grey-darkerst border border-grey-darker hover:border-grey-darkest bg-grey-lightest my-2 p-3" type="email" name="fromEmail" value="{{ message.fromEmail ?? '' }}" placeholder="Email" required>
                {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}

                <h3><label class="text-white text-sm font-light tracking-extra-wide" for="address">Party Address*</label></h3>
                <input id="address" class="w-full rounded-sm text-grey-darkerst border border-grey-darker hover:border-grey-darkest bg-grey-lightest my-2 p-3" type="text" name="message[Address]" placeholder="Street, suburb, city, postcode." required>

                <h3><label class="text-white text-sm font-light tracking-extra-wide" for="country">Party country*</label></h3>
                <input id="country" class="w-full rounded-sm text-grey-darkerst border border-grey-darker hover:border-grey-darkest bg-grey-lightest my-2 p-3" type="text" name="message[Country]" placeholder="Country" required>

                <div class="w-full mt-2">
                    <label class="text-white text-sm font-light tracking-extra-wide"><input type="checkbox" name="message[Acknowledgement][]" value="Confirmed" required> I/We (Party/Parties) acknowledge all details provided are correct and that I/we (Party/Parties) agree to all the Terms & Conditions of this service.</label>
                </div>

                <input type="submit" value="Agree and send" class="text-sm rounded-sm uppercase text-white font-medium tracking-extra-wide border border-grey-darker bg-black hover:bg-grey-darkest cursor-pointer mt-8 py-3 px-6">
            </form>

            {% set entry = craft.entries.section('privacyPolicy').one() %}

            <div class="max-w-md"
                data-aos="fade-in"
                data-aos-duration="2000"
                data-aos-once="true">
                {{ entry.description|nl2br|retconChange('p', 'h1')|retconAttr('h1', { 'class' : 'text-xl md:text-5xl text-white font-light tracking-wide pb-10' }) }}
            </div>

            <div class="max-w-md pb-12"
                data-aos="fade-in"
                data-aos-duration="2000"
                data-aos-delay="200"
                data-aos-once="true">
                {{ entry.paragraph|nl2br|retconAttr('p', { 'class' : 'text-lg sm:text-xl text-grey font-light tracking-extra-wide' })|retconAttr('strong', { 'class' : 'font-medium text-white' }) }}
            </div>

            <div class="max-w-md pb-12"
                data-aos="fade-in"
                data-aos-duration="2000"
                data-aos-delay="200"
                data-aos-once="true">
                {{ entry.secondaryParagraph|nl2br|retconAttr('p', { 'class' : 'text-sm sm:text-base text-grey font-light tracking-extra-wide' })|retconAttr('strong', { 'class' : 'font-medium text-white' })|retconAttr('ul, ol', { 'class' : 'font-light text-grey mb-10' })|retconAttr('li', { 'class' : '' }) }}
            </div>

        </div>
        <div class="hidden lg:block lg:w-1/5">
        </div>
    </section>

{% endblock %}
