{% extends 'layouts/_layout' %}

{% set template = 'black' %}

{% block content %}

    <section class="flex flex-wrap w-full p-4 pt-32">
        <div class="hidden lg:block lg:w-1/5">
        </div>
        <div class="w-full lg:w-3/5 text-left leading-normal mb-32 lg:pl-6">

            <div data-aos="fade-in"
                data-aos-duration="2000">
                {% include 'includes/description' %}
            </div>

            <div class="max-w-md pb-12"
                data-aos="fade-in"
                data-aos-duration="2000"
                data-aos-delay="200">
                {% include 'includes/paragraph' %}

                {#<span class="inline-block text-base font-light tracking-extra-wide pt-6">Email &mdash; {% filter enkode_emails %}<a href="mailto:{{ generalInformation.email }}" class="font-light text-white no-underline border-b border-grey hover:border-black">{{ generalInformation.email }}</a>{% endfilter %}</span>#}
            </div>

            <div data-aos="fade-in"
                data-aos-duration="2000"
                data-aos-delay="800"
                data-aos-once="true">

                {% filter enkode_emails %}
                    <h3 class="text-white text-md font-light tracking-extra-wide">
                        <a class="text-white" href="mailto:thatand@thist.co.nz">that and @ thist.co.nz</a>
                    </h3>
                {% endfilter %}
                
            </div>

            {#{% macro errorList(errors) %}
                {% if errors %}
                    <ul class="errors">
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endmacro %}

            {% from _self import errorList %}

            <form method="post"
                action=""
                accept-charset="UTF-8"
                class="max-w-md pb-20">

                {{ csrfInput() }}
                <input type="hidden" name="action" value="contact-form/send">
                <input id="phone" class="hidden" name="phone" type="text">
                {{ redirectInput('thanks?from={fromName}') }}

                <div data-aos="fade-in"
                    data-aos-duration="2000"
                    data-aos-delay="800"
                    data-aos-once="true">
                    <h3><label class="text-white text-sm font-light tracking-extra-wide" for="from-name">Name*</label></h3>
                    <input id="from-name" class="w-full rounded-sm text-white border border-grey-darkerst hover:border-grey-darker bg-grey-darkest my-2 p-3" type="text" name="fromName" value="{{ message.fromName ?? '' }}" placeholder="We all have one" required>
                    {{ message is defined and message ? errorList(message.getErrors('fromName')) }}
                </div>
                <div data-aos="fade-in"
                    data-aos-duration="2000"
                    data-aos-delay="900"
                    data-aos-once="true">
                    <h3><label class="text-white text-sm font-light tracking-extra-wide" for="from-email">Email*</label></h3>
                    <input id="from-email" class="w-full rounded-sm text-white border border-grey-darkerst hover:border-grey-darker bg-grey-darkest my-2 p-3" type="email" name="fromEmail" value="{{ message.fromEmail ?? '' }}" placeholder="I wish I only had one" required>
                    {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}
                </div>

                <div data-aos="fade-in"
                    data-aos-duration="2000"
                    data-aos-delay="1000"
                    data-aos-once="true">
                    <h3><label class="text-white text-sm font-light tracking-extra-wide" for="subject">Subject*</label></h3>
                    <input id="subject" class="w-full rounded-sm text-white border border-grey-darkerst hover:border-grey-darker bg-grey-darkest my-2 p-3" type="text" name="subject" value="{{ message.subject ?? '' }}" placeholder="Make it interesting" required>
                    {{ message is defined and message ? errorList(message.getErrors('subject')) }}
                </div>

                <div data-aos="fade-in"
                    data-aos-duration="2000"
                    data-aos-delay="1100"
                    data-aos-once="true">
                    <h3><label class="text-white text-sm font-light tracking-extra-wide" for="message">Message*</label></h3>
                    <textarea rows="5" cols="40" id="message" class="w-full rounded-sm text-white border border-grey-darkerst hover:border-grey-darker bg-grey-darkest mt-2 p-3" name="message" placeholder="And so the story goes..." required>{{ message.message ?? '' }}</textarea>
                    {{ message is defined and message ? errorList(message.getErrors('message')) }}
                </div>

                <div data-aos="fade-in"
                    data-aos-duration="2000"
                    data-aos-delay="1600"
                    data-aos-once="true">
                    <input type="submit" value="Submit" class="text-sm rounded-sm uppercase text-white font-medium tracking-extra-wide border border-grey-darker bg-black hover:bg-grey-darkest cursor-pointer mt-8 py-3 px-6">
                </div>
            </form>#}

        </div>
        <div class="hidden lg:block lg:w-1/5">
        </div>
</section>

{% endblock %}
