{% extends 'layouts/_layout' %}

{% set template = 'black' %}

{% block content %}

    <section class="flex flex-wrap w-full p-4">
        <div class="hidden lg:block lg:w-1/5">
        </div>
        <div class="w-full lg:w-3/5 text-left leading-normal lg:pl-6">

            {% include 'includes/description' %}

            <div class="py-12">
                {% include 'includes/paragraph' %}
            </div>
        </div>
        <div class="hidden lg:block lg:w-1/5">
        </div>
    </section>

{% endblock %}
