{% extends 'layouts/_layout' %}

{% set template = 'black' %}

{% block content %}

    <section class="flex flex-wrap w-full p-4 pt-32">
        <div class="hidden lg:block lg:w-1/5">
        </div>
        <div class="w-full lg:w-3/5 text-left leading-normal mb-32 lg:pl-6">

            <div class="max-w-md"
                data-aos="fade-in"
                data-aos-duration="2000">
                {{ entry.description|nl2br|retconChange('p', 'h1')|retconAttr('h1', { 'class' : 'text-xl md:text-5xl text-white font-light tracking-wide pb-10' }) }}
            </div>

            <div class="max-w-md pb-12"
                data-aos="fade-in"
                data-aos-duration="2000"
                data-aos-delay="200">
                {{ entry.paragraph|nl2br|retconAttr('p', { 'class' : 'text-lg sm:text-xl text-grey font-light tracking-extra-wide' })|retconAttr('strong', { 'class' : 'font-medium text-white' }) }}
            </div>

            <div class="max-w-md pb-12"
                data-aos="fade-in"
                data-aos-duration="2000"
                data-aos-delay="200">
                {{ entry.secondaryParagraph|nl2br|retconAttr('p', { 'class' : 'text-sm sm:text-base text-grey font-light tracking-extra-wide' })|retconAttr('strong', { 'class' : 'font-medium text-white' })|retconAttr('ul, ol', { 'class' : 'font-light text-grey mb-10' })|retconAttr('li', { 'class' : '' }) }}
            </div>

        </div>
        <div class="hidden lg:block lg:w-1/5">
        </div>
    </section>

{% endblock %}
