{% extends 'layouts/_layout' %}

{% set template = 'black' %}

{% block content %}

    <section class="flex flex-wrap w-full p-4 pt-32">
        <div class="hidden lg:block lg:w-1/5">
        </div>
        <div class="flex flex-wrap w-full lg:w-3/5 text-left leading-normal mb-32 lg:pl-6">

            <div class="w-full pb-12">
                <h1 class="text-2xl md:text-4xl text-white font-light tracking-wide">Résumé</h1>
            </div>

            <div class="flex">
                <div class="hidden lg:block w-auto text-md lg:text-lg text-white pr-12">
                    <p>Name</p>
                    <p>DOB</p>
                    <p>Email</p>
                    <p>Phone</p>
                    <p>Address</p>
                    <p>Education</p>
                    <p>Twitter</p>
                </div>
                <div class="w-auto text-md lg:text-lg text-white font-light pb-20">
                    <p><span class="lg:hidden font-normal pr-6">Name:</span>Alex Ferens</p>
                    <p><span class="lg:hidden font-normal pr-6">DOB:</span>15 March 1990 ({{ date('now').diff((date('1990-3-15'))).format('%y years, %m months and %d days') }})</p>
                    <p><span class="lg:hidden font-normal pr-6">Email:</span><a href="mailto:thatand@thist.co.nz" class="text-white no-underline border-white border-b">thatand@thist.co.nz</a></p>
                    <p><span class="lg:hidden font-normal pr-6">Phone:</span>+64 27 343 7943</p>
                    <p><span class="lg:hidden font-normal pr-6">Address:</span>2/10A Fairview Road, Mt Eden, Auckland</p>
                    <p><span class="lg:hidden font-normal pr-6">Education:</span>Bachelor of visual communication design</p>
                    <p><span class="lg:hidden font-normal pr-6">Twitter:</span><a href="https://twitter.com/asferens/" target="_blank" rel="noreferrer noopener" class="text-white no-underline border-white border-b">@asferens</a></p>
                </div>
            </div>

            <div class="w-auto text-lg lg:text-xl text-white font-light">
                <p>
                    First and foremost i'm a problem solver. More than anything this comes from the place I grew up, rural Taranaki, where practicality and resourcefulness becomes an integral part of your DNA. With this foundation in life I moved to Wellington to pursue a higher education in the creative sector. During my four years of study in Welington I concurrently taught myself how to code.
<br /><br />
This mix of creative flare and programatic structure has defined me for the past decade. I've contracted and worked for small businesses and studios as well as running my own one man shop. These roles lead to me specialising and being able to speak to all things digital while also being able to work and communicate effectively with people from all walks of life.
<br /><br />
Ten years staring at screens does take its toll however, and i've increasingly sought a closer connection to tangible practices. Notably gardening and landscaping (As well as bass guitar and trying to fix a 49y/o MG...). For the previous five years i've been developing and curating my own slice of organic, permicultured paradise. I'm now hooked, I have a love and good understanding of natives and am particularly passionate about growing fruit, vegetables and herbs.
<br /><br />
I hope I can now take this passion and turn it into a prosperous career in a new field.
                </p>
            </div>
        </div>
        <div class="hidden lg:block lg:w-1/5">
        </div>
    </section>

{% endblock %}
