{% extends 'layouts/_layout' %}

{% set template = 'black' %}

{% block content %}

    <section class="flex flex-wrap w-full p-4 pt-32">
        <div class="hidden lg:block lg:w-1/5">
        </div>
        <div class="w-full lg:w-3/5 text-left leading-normal lg:pl-6">

            <h1 class="text-lg md:text-4xl text-white font-light tracking-wide pb-4"
                data-aos="fade-in"
                data-aos-duration="2000">
                Thanks {% if craft.app.request.getQueryParam('from')|length %}{{ craft.app.request.getQueryParam('from') }}.{% endif %}
            </h1>

            <p class="max-w-md text-base text-grey font-light tracking-extra-wide pb-12"
                data-aos="fade-in"
                data-aos-duration="2000"
                data-aos-delay="300">
                We'll get back to you as soon as possible.<br><br> If it's an emergency please email us again with the subject line 'URGENT' at <span class="text-base font-light tracking-extra-wide pt-6">{% filter enkode_emails %}<a href="mailto:{{ generalInformation.email }}" class="font-light text-white no-underline border-b border-grey hover:border-black">{{ generalInformation.email }}</a>{% endfilter %}.</span>
            </p>

        </div>
        <div class="hidden lg:block lg:w-1/5">
        </div>
</section>

{% endblock %}
