<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />

    <title>Thist</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#222222">
    <meta name="msapplication-TileColor" content="#222222">
    <meta name="theme-color" content="#222222">

    <meta name="robots" content="noindex" />

    {# Cachebust the CSS/JS #}
    {% set assetVersion = craft.app.config.env == "dev" ? date().getTimestamp() : 0.016 %}
    {# Until we're live, cachebust all assets #}
    {#{% set assetVersion = date().getTimestamp() %}#}

    {% do view.registerCssFile("/assets/css/main.css?v="~assetVersion) %}
    {% do view.registerCssFile("/assets/css/aos.css") %}

    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,500" rel="stylesheet">

</head>
    <body class="{{ entry is defined ? entry.title|lower : "thist" }}-page bg-{{ template ?? "" }} font-mono font-medium subpixel-antialiased overflow-y-scroll">

    <header id="header" class="flex w-full fixed {{ template == "black" ? "bg-black" : "bg-white" }} p-4 z-50">
        {% include 'includes/header' %}
    </header>

    <main class="relative {{ entry.type == "thist" ? "flex items-center bg-black h-almost z-40 mb-33" : "" }}">
		{% block content %}
		{% endblock %}
	</main>

    <footer id="footer" class="flex w-full relative">
        {% include 'includes/footer' %}
    </footer>

    {# JS #}
    {% do view.registerJsFile("/assets/js/jquery-3.3.1.min.js") %}
    {% do view.registerJsFile("/assets/js/main.min.js?v="~assetVersion) %}

</body>
</html>
