{{ entry.description|nl2br|retconChange('p', 'h1')|retconAttr('h1', { 'class' : 'text-lg md:text-4xl text-white font-light tracking-wide pb-4' })|retconAttr('strong', { 'class' : 'demystified font-light' }) }}
