{% if entry.type == "thist" and entry.image|length %}
    <picture class="fixed pin-b leading-zero"
        data-aos="fade-in"
        data-aos-duration="2000"
        data-aos-delay="800"
        data-aos-once="true">
        <img src="{{ entry.image.one().url() }}"
            alt="{{ entry.image.one().title }}"
            title="{{ entry.image.one().title }}"
            class="object-cover"
        />
    </picture>
{% endif %}

<div class="absolute md:fixed pin-l pin-b pl-4 pb-4 z-30">
    <p class="text-xs text-grey-darker font-light tracking-extra-wide">&copy;{{ siteName }} {{ now|date('Y') }}
        {% if entry.type == "privacyPolicy" %}
        {% else %}<span class="text-grey-darkerst">&#126;</span> <a href="/privacy-policy" class="text-grey-darkerst no-underline border-b border-grey-darkerst hover:text-grey-dark hover:border-grey-dark">Privacy policy</a>
        {% endif %}
    </p>
</div>
