<nav class="flex flex-wrap w-full items-center leading-normal">

    <div class="w-full md:w-1/5">
        <span class="text-sm font-light tracking-extra-wide pb-2 md:pb-0">
            <a href="{{ siteUrl }}"
                class="{% if template == "black" %}text-white
                {% else %}text-black
                {% endif %} no-underline">{{ siteName }}</a>

        </span>
    </div>

    <div class="w-full md:w-4/5 text-white text-sm font-light tracking-extra-wide md:pl-6">

        <a href="/about"
            class="no-underline border-b
            {% if template == "black" %}text-white hover:border-white {{ entry.type == "about" ? "border-white" : "border-black" }}
            {% else %}text-black hover:border-black {{ entry.type == "about" ? "border-black" : "border-white" }}
            {% endif %}">About</a>

        <span data-aos="fade-in"
            data-aos-duration="2000"
            data-aos-delay="800"
            class="text-grey-darker">&#126;</span>

        <a href="/contact"
            class="no-underline border-b
            {% if template == "black" %}text-white hover:border-white {{ entry.type == "contact" ? "border-white" : "border-black" }}
            {% else %}text-black hover:border-black {{ entry.type == "contact" ? "border-black" : "border-white" }}
            {% endif %}">Contact</a>

    </div>

</nav>
