{% extends 'layouts/_layout' %}

{% set template = 'white' %}

{% block content %}

    <section class="flex flex-wrap w-full p-4 pt-32">
        <div class="hidden lg:block lg:w-1/5">
        </div>
        <div class="w-full lg:w-3/5 text-left leading-normal mb-32 lg:pl-6">

            <div class="max-w-md">
                <h1 class="text-xl md:text-5xl text-black font-light tracking-wide pb-10">Scope of work - {{ entry.title }}</h1>
            </div>

            <p class="font-light text-black tracking-wide pb-20">{{ entry.postDate|date("M d, Y") }}</p>

            <div class="max-w-md pb-12">
                {{ entry.paragraph|nl2br|retconAttr('p', { 'class' : 'text-lg sm:text-xl text-black font-light tracking-extra-wide' })|retconAttr('strong', { 'class' : 'font-medium text-black' })|retconAttr('a', { 'class' : 'text-black' }) }}
            </div>

            {% for items in entry.scopeItems.all() %}

                <h3 class="text-2xl text-black font-normal py-4">{{ items.scopeSubtitle }}</h3>

                <div class="max-w-md pb-6">
                    {{ items.scopeDescription|nl2br|retconAttr('p', { 'class' : 'text-sm sm:text-base text-black font-light tracking-extra-wide' })|retconAttr('strong', { 'class' : 'font-medium text-white' })|retconAttr('a', { 'class' : 'text-black' }) }}
                </div>

                <div class="flex flex-wrap w-full pt-1 pb-8 my-2">
                    <div class="flex w-full border-b border-grey-light pt-2 pb-3">
                        <div class="w-3/5">
                            <p class="text-xl font-medium text-black tracking-wide">Description</p>
                        </div>
                        <div class="w-1/5 px-4">
                            <p class="text-xl font-medium text-black tracking-wide">Time</p>
                        </div>
                        <div class="w-1/5 text-right">
                            <p class="text-xl font-medium text-black tracking-wide">Cost</p>
                        </div>
                    </div>
                    {% for item in items.scopeItem.all() %}

                        <div class="flex w-full border-t border-grey-light py-3">
                            <div class="w-3/5">
                                <p class="font-light text-black tracking-wide">{{ item.description }}</p>
                            </div>
                            <div class="w-1/5 px-4">
                                <p class="font-light text-black tracking-wide">{{ item.time }}</p>
                            </div>
                            <div class="w-1/5 text-right">
                                <p class="font-light text-black tracking-wide">NZ${{ item.subtotal }}</p>
                            </div>
                        </div>

                    {% endfor %}

                </div>

            {% endfor %}

            <div class="flex w-full border-t-2 border-grey-light pt-3">
                <div class="w-1/2 lg:w-4/5">
                    <p class="text-xl font-medium text-black tracking-wide">Indicative total</p>
                </div>
                <div class="w-1/2 lg:w-1/5 text-right">
                    <p class="text-xl font-medium text-black tracking-wide">NZ${{ entry.total }}</p>
                </div>
            </div>

            <div class="w-full mt-12">
                <a href="javascript:window.print()">
                    <button class="shadow border border-black bg-black text-white hover:bg-white hover:text-black px-6 py-3">Save &nbsp;&mdash;&nbsp; Print</button>
                </a>
            </div>

        </div>
        <div class="hidden lg:block lg:w-1/5">
        </div>
    </section>

{% endblock %}
