/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

.thist-page{
    background: config('colors.black');
    color: config('colors.white');
}

.thist-page nav a{
    color: config('colors.white');
}

.demystified {
   color: transparent;
   text-shadow: 0 0 12px rgba(255,255,255,0.5);
   animation: mist;
   animation-delay: .8s;
   animation-timing-function: ease-in-out;
   animation-duration: .6s;
   animation-iteration-count: 1;
   animation-fill-mode: forwards;
}

@keyframes mist {
    0%{
        text-shadow: 0 0 12px rgba(255,255,255,0.5);
    }
    100%{
        text-shadow: 0 0 0 rgba(255,255,255,1);
    }
}

@media print {
    #header, #footer{
        display: none !important;
    }
    section{
        padding-top: 10pt !important;
    }
    /*.flex{
        display: block !important;
    }*/
    .max-w-md{
        max-width: 100% !important;
    }
    h1{
        font-size: 20pt !important;
        color: #111 !important;
    }
    h2{
        font-size: 16pt !important;
        color: #111 !important;
    }
    h3{
        font-size: 14pt !important;
        color: #111 !important;
    }
    p{
        font-size: 8pt !important;
        color: #111 !important;
    }
    button{
        display: none !important;
    }
}

.object-cover{
    object-fit: cover;
}

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */
