{% extends 'layouts/_layout' %}

{% set template = 'black' %}

{% block content %}

    <section class="flex w-full p-4 pt-20 pb-12 lg:p-12 lg:pt-32 lg:pb-32">

        <div class="hidden lg:block lg:w-1/5">
        </div>

        <div class="w-full lg:w-3/5">
            <h2 class="text-4xl font-medium tracking-wide pb-4">404</h2>
            <p class="font-light">Make your way <a href="{{ siteUrl }}" class="text-white no-underline border-b border-black hover:border-white">home</a>.</p>
        </div>

        <div class="hidden lg:block lg:w-1/5">
        </div>

    </section>

{% endblock %}
